{% extends 'base.html.twig' %}

{% block title %}Skins Hut!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/styles/home.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styles/general.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascripts/general.js') }}"></script>
{% endblock %}

{% block body %}
    {% include './general/header.html.twig' %}

    <div class="game-title">Welcome to SKINS HUT!</div>

    <div class="sections-container">
        <div class="game-section section">
            <div class="info-title">Unlock your account</div>
            <ul class="info-ul">
                <li class="info-li">How </li>
                <li class="info-li">After that, your account will be automatically created for you</li>
                <li class="info-li">As a gift for registering, you will get 100 free coins!</li>
                <li class="info-li">You will also get an additional 15% bonus on your first deposit</li>
            </ul>
            <form method="GET" action="/register" style="width: 100%; display: flex; justify-content: center;">
                <button type="submit" class="steam-button">Create an account</button>
            </form>
        </div>
        {% include './general/live_feed.html.twig' %}
    </div>

    <script>
        getLastMatches()
    </script>
{% endblock %}
