<div class="list-section section" id="latest">
    <div class="list-title"><img src="{{ asset('assets/img/general/live.gif') }}" class="live">Live Feed</div>
    <div id="1" class="live-game"></div>
    <div id="2" class="live-game"></div>
    <div id="3" class="live-game"></div>
    <div id="4" class="live-game"></div>
    <div id="5" class="live-game" style="margin-bottom: 5%;"></div>
</div>